= yield :custom_styles
#header
  = render partial: 'shared/nav'
.content-wrapper
  .container
    = yield
#footer
  = render partial: 'shared/footer'

= javascript_include_tag "application"
= javascript_include_tag "main/base"
= yield :custom_js
