- content_for :custom_styles do
  = stylesheet_link_tag 'review/base'

.container
  %h1.centralize REVIEW

  %em.hidden (Here is where I note down the neat stuffs when working on self projects for future recollection.)

  %hr
  %h4
    .row.inline
      %strong PERSONAL SITE
      .icon-lang.ruby
      .icon-lang.rails
      .icon-lang.html5-only
      .icon-lang.css3
      .icon-lang.js-only
      .icon-lang.coffeescript
      .icon-lang.mysql
  %ul
    %li= link_to t('review.url.eb1571.name'), t('review.url.eb1571.link'), target: '_blank'
    %li= link_to t('review.url.551db8.name'), t('review.url.551db8.link'), target: '_blank'
    %li= link_to t('review.url.d7b1d6.name'), t('review.url.d7b1d6.link'), target: '_blank'
    %li= link_to t('review.url.70617a.name'), t('review.url.70617a.link'), target: '_blank'
    %li= link_to t('review.url.bd8dd9.name'), t('review.url.bd8dd9.link'), target: '_blank'
    %li= link_to t('review.url.2d38ef.name'), t('review.url.2d38ef.link'), target: '_blank'

  %hr
  %h4
    .row.inline
      %strong ANDROID DEMO
      .icon-lang.java
      .icon-lang.android

  %div.hidden
    %hr
    %strong Materials for blog
    %ul
      %li http://krasimirtsonev.com/blog/article/SASS-mixins-extends-and-placeholders-differences-use-cases
