%h1 Review list
%hr

%ol
  %li= link_to t('review.url.eb1571.name'), t('review.url.eb1571.link'), target: '_blank'
  %li= link_to t('review.url.551db8.name'), t('review.url.551db8.link'), target: '_blank'
  %li= link_to t('review.url.d7b1d6.name'), t('review.url.d7b1d6.link'), target: '_blank'
  %li= link_to t('review.url.70617a.name'), t('review.url.70617a.link'), target: '_blank'
  %li= link_to t('review.url.bd8dd9.name'), t('review.url.bd8dd9.link'), target: '_blank'
  %li= link_to t('review.url.2d38ef.name'), t('review.url.2d38ef.link'), target: '_blank'
