<!DOCTYPE html>
<html>
<head>
  <title> DP| Marketplace </title>
  <%= stylesheet_link_tag "marketplace", :media => "all" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "marketplace/product" %>

<!-- Custom Javascripts / Stylesheet-->
<%= yield :custom_js %>
<%= yield :custom_styles %>

</body>
</html>
