<!DOCTYPE html>
<html>
<head>
  <title> DP| Marketplace </title>
  <%= stylesheet_link_tag    "marketplace", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
